<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontol Paneli</title>
</head>
<body>
    <form method="POST" action="/countnews">
        <button type="submit">Haber Sayaci</button>
    </form>
    <br>
    <form action="/addurltodatabase">
        <button type="submit">Veritabanina Kontrol Edilecek Link Ekleme</button>
    </form>
    <br>
    <form action="/wordfrequenties">
        <button type="submit">Keşfet En Çok Kullanılan Kelimeler</button>
    </form>
    <br>
    <form action="/indexapi">
        <button type="submit">Indexing API</button>
    </form>
    <br>
    <form action="/sitemapapi">
        <button type="submit">Sitemap API</button>
    </form>
</body>
</html>